.algorithms-page {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". title title ." ". alg-1 desc-1 ." ". alg-2 desc-2 ." ". alg-3 desc-3 ." ". alg-4 desc-4 ." ". . . .";
  -ms-grid-rows: 2.5fr 3fr 3fr 3fr 3fr 1fr;
      grid-template-rows: 2.5fr 3fr 3fr 3fr 3fr 1fr;
  -ms-grid-columns: 1fr 2fr 8fr 1fr;
      grid-template-columns: 1fr 2fr 8fr 1fr;
  grid-gap: 0;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.algorithms-page .alg-0 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: alg-1;
}

.algorithms-page .alg-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: alg-2;
}

.algorithms-page .alg-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: alg-3;
}

.algorithms-page .alg-3 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: alg-4;
}

.algorithms-page .desc-0 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: desc-1;
}

.algorithms-page .desc-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: desc-2;
}

.algorithms-page .desc-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: desc-3;
}

.algorithms-page .desc-3 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: desc-4;
}

.algorithms-page .algorithms-page-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  font-size: 30px;
}

.algorithms-page h5 {
  font-weight: normal;
  font-size: 16px;
}

.algorithms-page a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  border: 2px solid;
  padding: 10px;
}

.algorithms-page a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
  border-radius: 10px;
}

.algorithms-page .alg-0 {
  border-color: #738a59;
}

.algorithms-page .alg-1 {
  border-color: #c1292e;
}

.algorithms-page .alg-2 {
  border-color: #0c4767;
}

.algorithms-page .alg-3 {
  border-color: #eb9951;
}

.algorithms-page .alg-0:hover {
  background-color: #738a59;
}

.algorithms-page .alg-1:hover {
  background-color: #c1292e;
}

.algorithms-page .alg-2:hover {
  background-color: #0c4767;
}

.algorithms-page .alg-3:hover {
  background-color: #eb9951;
}

@media screen and (max-width: 600px) {
  .algorithms-page {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .algorithms-page h5 {
    font-size: 15px;
  }
  .algorithms-page-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  a {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=AlgorithmsPage.css.map */